.gallery {
  list-style: none;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
}

.gallery-item {
  max-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  margin: 0 auto;
}

/* ========== обгортка для постлання */
.gallery-link {
  display: inline-block;
  text-decoration: none;
  line-height: 0;
}

.gallery-image {
  height: 200px;
  width: 360px;
  object-fit: cover;
}
/*Загальний порядок властивостей у CSS:

========== Властивості позиціювання та розташування:
- position
- top, right, bottom, left
- z-index

========== Властивості блочної моделі:
- display
- flex-direction, flex-wrap, align-items, justify-content, gap
- width, height, max-width, max-height, min-width, min-height
- margin, padding
- border, border-radius
- box-shadow

========== Типографіка:
- font, font-size, font-weight, line-height, text-align
- color, letter-spacing, word-spacing, text-shadow

========== Фон і зображення:
- background, background-color, background-image, background-size, background-position

========== Інше:
- opacity, visibility, cursor, transition, transform*/
